  .form-group {
    width: 250px;
    height: 5px;
    border-radius: 5px;
    padding: 10px 10px;
  }
  .form-control {
    width: 250px;
    height: 5px;
    border-radius: 5px;
    padding: 10px 10px;
  }
  